<div class="container" align="center" style="margin-top:60px">
  <br>
  <br>
  <br>
  <br>
  <br>
<h1>Welcome to Penn Memo</h1>

<br>
<br>
<br>

<%= link_to "Log In", new_user_session_path, class:"btn btn-default", style:"width:130px"%>

</div>
