<div style="background: url('/assets/homepage.jpg'); height:930px">
  <div style="height:220px">
  </div>

<div  align="center" >

  <br>
  <br>
<h1 style="color:#ffffff">Welcome to Penn Memo</h1>

<br>
<br>
<br>



<%= link_to "Log In", new_user_session_path, class:"btn btn-default", style:"width:130px" %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>



<footer>
<div class="shell clearfix">
  <div class="container" >
  </div>

  <div class="container" align="center">
    <br>
      <p style="color:#ffffff">&copy; Penn-medicine 2016 All rights reserved.</p>
  </div>

</div>
</footer>

</div>
</div>
