<div class="container">
<h1>Editing Memo</h1>

<%= render 'form', memo: @memo %>

<%= link_to 'Show', @memo , class:"btn btn-default"%> |
<%= link_to 'Back', memos_path,class:"btn btn-default" %>

</div>
