<div class="container" style="width:400px;">
<h1 align="center">New &nbsp;Memo</h1>
<br>

<%= render 'form', memo: @memo %>

<%= link_to 'Cancel', memos_path, class:"btn btn-default btn-md" %>

</div>
